@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.inputSection {
  width: 600px;
  padding: 20px 0;
  margin: 10px auto;
  text-align: center;

  .label {
    padding-bottom: 5px;
    color: colors.$GRAY6;
    text-align: left;
  }

  .sectionTitle {
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }

  .loginWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    text-align: left;
  }

  .emailWrapper,
  .passwordWrapper {
    display: flex;
    flex-direction: column;
  }

  .passwordWrapper {
    margin: 10px 0;
  }

  .emailInputWrapper,
  .passwordInputWrapper {
    position: relative;
  }

  .checkIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    padding: 0;
    background: transparent;
    border: 0;
  }

  .emailInput,
  .passwordInput {
    width: 100%;
    padding: 10px;
    border: 2px solid #efefef;
    border-radius: 5px;
  }

  .passwordBtn {
    & svg {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 20px;
      height: 20px;
      padding: 0;
      color: colors.$GRAYA;
      background: transparent;
      border: 0;
    }
  }

  .validationText {
    height: 13px;
    font-size: 13px;
    font-weight: 600;
    color: colors.$RED;
  }
}
